@model WebAppCoreMVC.Models.Movie

@{
	ViewData["Title"] = "Filme " + Model.Title;
}

<div>
	<div class="d-flex justify-content-between">
		<h4>Detalhe do filme</h4>
		<p>
			<a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
			<a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@Model.Id">Deletar</a>
		</p>
	</div>
	
	<hr />
	<div class="row">
		<div class="col-sm-3">
			<img src="@Model.ThumbUrl" />
		</div>
		<div class="col-sm-9">
			<dl class="row">
				<dt class="col-sm-3">
					@Html.DisplayNameFor(model => model.Title)
				</dt>
				<dd class="col-sm-9">
					@Html.DisplayFor(model => model.Title)
				</dd>
				<dt class="col-sm-3">
					@Html.DisplayNameFor(model => model.Synopsis)
				</dt>
				<dd class="col-sm-9">
					@Html.DisplayFor(model => model.Synopsis)
				</dd>
				<dt class="col-sm-3">
					@Html.DisplayNameFor(model => model.Ano)
				</dt>
				<dd class="col-sm-9">
					@Html.DisplayFor(model => model.Ano)
				</dd>
				<dt class="col-sm-3">
					@Html.DisplayNameFor(model => model.Price)
				</dt>
				<dd class="col-sm-9">
					@Model.Price.ToString("0.00")
				</dd>
				<dt class="col-sm-3">
					@Html.DisplayNameFor(model => model.ThumbUrl)
				</dt>
				<dd class="col-sm-9">
					@Html.DisplayFor(model => model.ThumbUrl)
				</dd>
			</dl>
			<div class="row">
				<a asp-action="Index">Voltar para lista</a>
			</div>
		</div>
	</div>

</div>
<div>
	
</div>
